*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
}
body{
    background: linear-gradient(45deg ,#007bff, #212121);
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario{
    background: transparent;
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    padding: 20px;
    background: linear-gradient(45deg ,#007bff, #212121);
    background-size: 150%;
    box-shadow: 5px 5px 10px;
    border-radius: 100px 10px 50px 20px;
}.form>h1{text-align: center; color: white; font-style: italic; margin-bottom: 10px;}
.user{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}.user>label{color: white;}
.senha{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}.senha>label{color: white;}
input{
    padding: 16px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 13px;
    background: transparent;
    box-shadow: 2px 2px 10px black;
    color: #fff;
}input::placeholder{color: #ffff; font-size: 13px;}
.btn{
    margin-top: 10px;
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: #007bff;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.btn:before{
    content: "";
    position: absolute;
    background: rgba(255,255,255, 0.4);
    z-index: -1;
    height: 0px;
    width: 0px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 600ms;
}
.btn:hover:before{
    height: 300px;
    width: 300px;
}